[package]
name = "wirecrab-contrib-wire-memory"
version.workspace = true
edition.workspace = true
license.workspace = true
rust-version.workspace = true

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
wirecrab-kernel = { workspace = true }
anyhow = { workspace = true }
