[package]
name = "wirecrab-contrib-wire-memory"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"
rust-version = "1.85"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
wirecrab-kernel = { path = "../../kernel" }
