[package]
name = "wirecrab-macros"
version = "0.1.0"
edition = "2024"
license = "Apache-2.0"
rust-version = "1.85"

[lib]
proc-macro = true
path = "src/lib.rs"

[dependencies]
syn = "2.0"
quote = "1.0"
proc-macro2 = "1.0"
wirecrab-spec = { path = "../spec" }
